* {
	font-family: 'Open Sans' , sans-serif,
}
html,body{
	height: 100%;
	font-family: 'Open Sans', 'Dosis';
}
a{
	text-decoration: none;
}
p{
	font-size: 13px;
}
h2{
	color:#24282E;
	font-size: 1.9em;
	font-weight:600;
}